
apps/*/dist/
apps/*/build/

node_modules
**/node_modules

.env
.env.*
!.env.example

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

*.tsbuildinfo
**/*.tsbuildinfo

**/.vite/
**/.vite/deps/
**/.vite/deps/_metadata.json
*.local

apps/*/node_modules/*

coverage/
.nyc_output/

.cache/
.temp/

apps/ethereum/dist/assets/
apps/solana/dist/
apps/*/node_modules/

packages/ui/dist/
packages/*/node_modules/

packages/shared/dist/